
.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inLineError{
  color: rgb(189, 15, 15);
}

.clearfix{
  clear: both;
  margin-bottom: 5px;
}

.text-center{
  font-weight: bolder;
  font-family: fantasy;
  text-align: center;
  color: rgb(7, 57, 87);

}
